@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  @apply bg-slate-50 text-slate-900;
}

.maplibregl-map {
  height: 100%;
  width: 100%;
  font-family: inherit;
}
